<%- include('header'); -%>
<div class="row">
    <div class="col-lg-3" style="background-color: rgb(255, 255, 255);">
        <div class="list-group list-group-flush">
            <% cat.forEach(element=> {%>
                <a href="/category/<%=element.name %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <%=element.name %>
                    <span class="badge bg-primary rounded-pill">
                        <%=element.quantity %>
                    </span>
                </a>
            <% }); %>
        </div>
    </div>
    <div class="col-lg-9" style="background-color: rgb(255, 255, 255);">
        <div class="row row-cols-auto d-flex justify-content-center">
            <% items.forEach(item=> { %>
                <div class="col" style="margin-bottom: 24px;">
                    
                    <div class="card" style="width: 13rem;">
                        
                        <div class="card-body">
                            
                            <a href="/productID/<%=item.id %> " class="stretched-link select-intd" style="position: relative;">
                                <img class="prod-img" src=<%=item.img %> alt="">
                            <h6 class="card-title" style="text-align: center;">
                                <% if(item.name.length>20){ %>
                                    <%=item.name.substring(0, 30) + "...." %> 
                                <% }else{ %>
                                    <%=item.name %> 
                                <% } %> 
                                
                            </h6>
                            <p class="card-text p-brand">
                                <%=item.Brand %>
                            </p>
                            <p class="card-text">
                                ₹ <%=item.sellingPrice %> <%=item.priceBy %> 
                            </p>
                            </a>
                            <div class="d-grid gap-2">
                                <a href="/addCart" class="btn btn-success btn-block p-cart disabled">Add to Cart</a>
                                <a href="/buyNow" class="btn btn-warning btn-block disabled" >Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>   
                
        </div>
        
    </div>
</div>

<%- include('footer'); -%>

