<%- include('header'); -%>
<div class="row">
    <div class="col-md-2" style="background-color: rgb(255, 255, 255);">
        <ul class="list-group">
            
            <% cat.forEach(element => {%>
                <li class="list-group-item"><%=element  %></li>
            <% }); %> 
        </ul>
    </div>
    <div class="col-md-9" style="background-color: rgb(255, 255, 255);">
        <div class="row row-cols-auto d-flex justify-content-center">
            <% items.forEach(item=> { %>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src=<%=item.img %> alt="">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">
                                <%=item.name %>
                            </h5>
                            <p class="card-text">
                                <%=item.Brand %>
                            </p>
                            <p class="card-text">
                                <%=item.sellingPrice %>
                            </p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                            <a href="#" class="btn btn-success">Buy Now</a>
                        </div>
                    </div>
                </div>
                <% }); %>   
        </div>
    </div>
</div>

<%- include('footer'); -%>

